.logo{
    max-width: 150px;
}
.logo:hover{
    cursor: pointer !important;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
.left{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
    
}
.left p{
    transition: all 0.5s ;
}
.left p:hover{
    text-decoration: underline;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.left p:active{
    color: yellow;
}

.right{
    width:100px;
    display: flex;
    justify-content: space-between;
}
.profile-pic{
    max-width: 50px;
    border-radius: 100%;
    padding:15px 0;
    
}
.profile-pic:hover{
    cursor: pointer !important;
}